* {
    margin: 0;
    padding: 0;
}

html,
body,
#root,
.app {
    height: 100%;
    overflow-x: auto;
    min-height: 100%;
}

.header {
    text-align: center;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    flex: 1 0 1;
    height: 100%;
}

.container {
    min-height: calc(100vh - 2rem);
    /* height: calc(100vh - 2rem); */
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    /* justify-content: center; */
    .main-table {}


}

table {
    border-collapse: collapse;
}

th,
td {
    padding: .3rem;
    border: 1px solid black;
}

.section-1,
.section-2,
.section-3 {
    background-color: rgb(233, 246, 232);
    flex: 1;
    text-align: center;
    margin: 0 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.scrollable-cell {
    max-height: 60px;
    overflow-y: auto;
    scrollbar-width: thin;
    white-space: wrap;
}

.block {
    display: flex;
    gap: 2rem;
}

.block-1 {
    margin: .5rem;

    p {
        font-weight: 700;
        font-size: large;
        padding: .3rem;
        text-align: left;
    }

    textarea:hover,
    :focus {
        outline: none;
        box-shadow: none;
    }

    textarea {
        padding: .5rem;
        min-width: 28rem;
        max-width: 28rem;
        min-height: 4rem;
        max-height: 8rem;
        border-radius: 1rem;
    }

}

.block-2 {
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 1rem;
    /* background-color: red; */
}

.sub-block {
    background-color: lightpink;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.block-3 {
    padding: 1rem;
}

.table-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: .3rem;

    th {
        background-color: lightgray;
    }
}