*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #ededed;
    color: #333;
}
.app{
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    min-height: 100vh;
}
.section{
    flex: 1;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}
.section1 { border: 2px solid red; }
.section2 { border: 2px solid green; gap: 1rem; }
.section3 { border: 2px solid blue; }

.table-wrapper {
    overflow-x: auto;
}
.main-table{
    border-collapse: collapse;
}
.main-table th, .main-table td{
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
}
.block{
    /* background: #fafa; */
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1rem;
}
.block2{
    display: flex;
    gap: 1rem;
}
.sub-block{
    flex: 1;
    background: #eee;
    border-radius: 1rem;
    padding: 1rem;
}
.cell-content{
    max-height: 20rem;
    overflow-y: auto;
    line-height: 1.4;
}